# LIST
It is a collection of elements or data types in sequential order

In [31]:
#LIST
sample=[1,"hello",True]
sample

[1, 'hello', True]

# INDEXING AND SLICING

In [32]:
sample[0]

1

In [33]:
sample[0:4]# from 0 to last-1 index

[1, 'hello', True]

# MODIFYING METHOD

In [34]:
#.append() for add value at last
sample.append(1)
sample.append(1)
sample.append(5)
sample

[1, 'hello', True, 1, 1, 5]

In [35]:
# ,insert for adding element at specific position
sample.insert(2,"VICKY")#at index 2 add  VICKY
sample

[1, 'hello', 'VICKY', True, 1, 1, 5]

In [36]:
#.extend for adding two list 
list1= [1,2,3,4,5]
list2=[1,2,3,4,8]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 8]

# LIST OPERATION

In [37]:
#.concatenation by +
list1= [1,2,3,4,5]
list2=[1,2,3,4,8]
list3= list1+list2 #here we stored value in new variable
list3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 8]

In [38]:
# membership operation for checking wethere some item is present in list or not
list1= ["HI, This is", "VICKY","From", 3,"Year"]
find ="VICKY"
if find in list1:
    print(f'{find} is founded in list')
else:
    print("not found")

VICKY is founded in list

In [39]:
# repetation operator
zeros=[0]*5 # in list we are initialist 5 times zeros
zeros

[0, 0, 0, 0, 0]

In [40]:
#.copy
import copy
pizza=["Large","Medium","Small"]
new_pizza=copy.copy(pizza)
new_pizza

['Large', 'Medium', 'Small']

In [41]:
#sorting
new_sorting=sorted(list3)# list 3 from above example
new_sorting

[1, 1, 2, 2, 3, 3, 4, 4, 5, 8]